@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

.logo { 
  width: 120px;
}
body {
  font-family: Arial;
  padding: 20px;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.center {
  margin: auto;
width: 60%;
padding: 10px;
}


/* Fake image */
.fakeimg {
  background-color: #7395AE;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #7395AE;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.fakeimg{
margin: auto;
height: auto;
width: auto;
display: flex;
flex-direction: row;
}
.fakeimg img{
  width: 100%;
  height: 100%;
}
.vid{
  width: 100%;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .center {
    width: 100%;
    padding: 0;
  }
  
h5{
  font-size: 12px;
}