@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

:root{

  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0,0,0,0,1);
}

body{
  font-family: Sora,"san-serif";
  line-height: 1.7;
  color: var(--body)
}
h1,h2,h3,h4,h5,h6,
.display-4{
  color: rgb(22, 203, 209);
  font-weight: 700;
}
a{
  color: var(--dark);
  text-decoration: none;
}
.navbar{
  box-shadow: var(--box-shadow);
}
.logo{
  width: 120px;
}
.navbar .nav-link{
  font-size: 15px;
  font-weight: 700;
}

.hero{
  background-image: url(/img/bg15.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index:2;
}

.hero::after{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left:0;
background-color: rgba(21, 20, 51, 0.5);
z-index: -1;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-effect{
  box-shadow: var(--box-shadow);
  background-color: lightcyan;
  padding: 25px;
  transition: all 0.35s ease;
}
.card-effect:hover{
  box-shadow:#0d6efd;
transform: translateY(20px);
}
.iconbox{
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  font-size: 30px;
  border-radius: 100px;  
  flex: none;
}
.service{
  position: relative;
  z-index:2;
  overflow: hidden;
}
.service::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:-100%;
  left: 0;
  background-color: var(--primary);
  z-index: -1;
  opacity: 0;
  transition: all 1.5s ease;
}

.service:hover .iconbox{
background-color: #fff;
color: var(--primary);
}

.service:hover h5,
.service:hover p{
color: #fff;
}
.service:hover::after{
  opacity: 1;
  top: 0;
}

.col-img{
  background-image: url(/img/hospital.jpg);
  background-position: center;
  background-size: cover;
 min-height: 500px;

}
img{
  width: 100%;
  height: 100%;
}
.project{
  position: relative;
 
  overflow: hidden;
}
.project .overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(21, 20, 51, 0.5);
padding: 30px;
display: flex;
align-items:flex-end;
transition: all 2s ease;
opacity: 0;
}
.project img{
  transition: all 2s ease;
}
.project:hover .overlay{
opacity: 1;
}
.project:hover img{
  transform: scale(1.1);
}
.footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #24262b;
  padding: 70px 0;
}
.containerr{
max-width: 1170px;
background-color: #FFFFFF;
margin: auto;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
ul{
  list-style: none;
}
.roww{
  display: flex;
  flex-wrap: wrap;
}
.footer-col h4{
  font-size: 18px;
  color: pink;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 1s ease;
}
.footer-col ul li a:hover{
  color: white;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 50%;
  transition: all 2s ease;
}
.footer-col .social-links a:hover{
  color: white;
  background-color: black;
}