@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.btn{
    border-radius: 40px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 1rem 0;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
.btn-block{
    background:#7395AE;
    width: 70%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}
.btn-block:hover{
    
    background: linear-gradient(to right, #7395AE 0%, #659DBD 100%);
}
h1{
border-style: groove;
}
.body{
    font-family: 'Poppins',sans-serif;
}
