@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

:root{

  --primary: blue;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0,0,0,0,1);
}

body{
  font-family: Sora,"san-serif";
  line-height: 1.7;
  color: black;
}
h1,h2,h3,h4,h5,h6,
.display-4{
  color: black;
  font-weight: 700;
}
a{
  color: var(--dark);
  text-decoration: none;
}
.navbar{
  box-shadow: black;
}
.logo{
  width: 120px;
}
.navbar .nav-link{
  font-size: 15px;
  font-weight: 700;
}

.hero{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index:2;
}

.hero::after{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left:0;
background: linear-gradient(to right, #7395AE 0%, #659DBD 100%);
z-index: -1;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-effect{
  box-shadow: var(--box-shadow);
  background-color: #7395AE;
  padding: 25px;
  transition: all 0.35s ease;
}
.card-effect:hover{
  box-shadow:black;
transform: translateY(20px);
}
.iconbox{
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  font-size: 30px;
  border-radius: 100px;  
  flex: none;
}
.services{
  position: relative;
  z-index:2;
  overflow: hidden;
}
.service::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:-100%;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1.5s ease;
}

.service:hover .iconbox{
background-color: #fff;
color: black;
}

.service:hover h5{
  color: white;
}
.service:hover p{
color: #fff;
}
.service:hover::after{
  opacity: 1;
  top: 0;
}

.col-img{
  background-image: url(../img/Slide1.PNG);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
.col-imgg{
  background-image: url(../img/Slide1.PNG);
  background-position: center;
  background-size: cover;
 min-height: 500px;
}
img{
  width: 100%;
  height: 100%;
}
.project{
  position: relative;
 
  overflow: hidden;
}
.project .overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(21, 20, 51, 0.5);
padding: 30px;
display: flex;
align-items:flex-end;
transition: all 2s ease;
opacity: 0;
}
.project img{
  transition: all 2s ease;
}
.project:hover .overlay{
opacity: 1;
}
.project:hover img{
  transform: scale(1.1);
}
.footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #659DBD;
  padding: 70px 0;
}
.containerr{
max-width: 1170px;
background-color: #659DBD;
margin: auto;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
ul{
  list-style: none;
}
.roww{
  display: flex;
  flex-wrap: wrap;
}
.footer-col h4{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
}
.footer-col ul a{
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 1s ease;
}
.footer-col ul a:hover{
  color: var(--primary);
  padding-left: 8px;
}

.team-member img{
  height: 125px;
  width: 125px;
  border-radius: 100px;
}
.social-icons{
  display: flex;
  justify-content: center;
}
.social-icons a{
  height: 34px;
  width: 34px;
  background-color: var(--primary);
  border-radius: 2px solid var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
 margin-left: 5px; 
 transition: all 0.4s ease;
 border: 2px;
}
.social-icons a:hover{
  color: var(--primary);
  background-color: transparent;
  border-color: var(--primary);
}